name: Deploy Cat vs Dog App to AWS Elastic Beanstalk


on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v3

      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      
      - name: Install EB CLI
        run: |
          python -m pip install --upgrade pip
          pip install awsebcli

      
      - name: Deploy to Elastic Beanstalk
        run: |
          eb init ${{ secrets.EB_APP_NAME }} --platform docker --region ${{ secrets.AWS_REGION }}
          eb use ${{ secrets.EB_ENV_NAME }}
          eb deploy --staged
